colorama
contourpy
cycler
filelock
fonttools
fsspec2.0
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sympy
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
uv
